* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.logo1{
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
    background-color: none;
    border-bottom: gray;
    border-radius: 5px;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
	color: red;
	font-size: 40px;
    margin-left: -900px;
}

header nav a {
	color: #FFF;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: black;
}
.home{
color: black;
position: relative;
}

.home:hover{
    cursor: pointer;
    color: red;
    zoom: 105%;
}
.nosotros1:hover{
    cursor: pointer;
    color: red;
    zoom: 105%;
}
.contacto1:hover{
    cursor: pointer;
    color: red;
    zoom: 105%;
}
.nosotros1{
color: black;
position: relative;
}
.contacto1{
    color: black;
    position: relative;
}
hr{
    color: grey;
    border-radius: 5px;
}

.lucifer{
    width: 150px;
    position: absolute;
}

.inicio{
    margin-left: 150px;
    margin-top: 70px;
}
.serie{
    margin-left: 170px;
}
.titulo{
    margin-left: 170px;
    margin-top: 30px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
.sinopsis{
    text-align: center;
    margin-right: 100px;
    margin-top: 30px;
    font-size: 18px;
    margin-left: 200px;
}

.personajes{
    text-align: center;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.actor1{
    width: 300px;
    margin-left: 100px;
    margin-top: 40px;
    border-color: grey;
    height: 500px;
    position: absolute;
    border-radius: 10px;
    background-color: #dddddd;
}

.tom{
    width: 200px;
    margin-left: 50px;
}

.tom1{
    text-align: center;
    margin-top: 20px;
}
.actor2{
    width: 300px;
    margin-left: 600px;
    margin-top: 40px;
    border-color: grey;
    height: 500px;
    position: absolute;
    border-radius: 10px;
    background-color: #dddddd;
}
.lauren{
    width: 200px;
    margin-left: 50px;
}
.lauren1{
    text-align: center;
    margin-top: 70px;
}
.actor3{
    width: 300px;
    margin-left: 1080px;
    margin-top: 40px;
    border-color: grey;
    height: 500px;
    position: absolute;
    border-radius: 10px;
    background-color: #dddddd;
}

.amenadiel{
    width: 200px;
    margin-left: 50px;
}

.amenadiel1{
    text-align: center;
    margin-top: 70px;
}
footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px;
    margin-top: 600px;
    position: absolute;
    background-color: #F5F4F6;
    width: 1480px;
    height: 50px;
}

.p2{
    margin-top: 20px;
    margin-right: 10px;
}

.p1{
    margin-top: 20px;
}

.actor1:hover{
    zoom: 102%;
    cursor: pointer;
    transition: all 0.40s;
    background-color: black;
    color: white;
}
.actor2:hover{
    zoom: 102%;
    cursor: pointer;
    transition: all 0.40s;
    background-color: black;
    color: white;
}
.actor3:hover{
    zoom: 102%;
    cursor: pointer;
    transition: all 0.40s;
    background-color: black;
    color: white;
}

